@{
    ViewBag.Title = "ASP.NET Identity";
}
<div class="jumbotron">
    <h1>Identity DDD</h1>
    <p class="lead">O ASP.NET Identity no contexto de DDD.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Lorem ipsum</h2>
        <p>
            Lorem ipsum dolor sit amet, an scripta deseruisse assueverit vix, ut essent recusabo est, albucius voluptaria id pri. </br>
            Ex pro habeo exerci petentium, vis quando graecis cotidieque et. Sit homero posidonium ad, quot novum no mel. Ei salutandi urbanitas nam, est lorem efficiantur ad.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Nihil bonorum</h2>
        <p>
            Facete fabulas at ius, graecis postulant ut nam, prima graeco offendit vis ne. Mea tota admodum eu. </br>
            Nihil bonorum et his, dissentiet definitionem ex duo, ne eos philosophia consectetuer. Quod indoctum in nec, ei ius indoctum hendrerit. Sit an aperiri delenit ancillae. An quo putent doctus perpetua, an eum accusata sapientem.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ignis factum</h2>
        <p>
            Id facer semper putant vim, labores verterem referrentur cum ne. Graeci vidisse persius vix te, ut ius utinam adversarium, vel ex eripuit fabulas rationibus. Vel eu natum autem scripserit. </br>
            Sea dico persecuti reprehendunt ut. Pericula imperdiet eum eu, eu his consul constituto. Mel te unum noster noluisse, et his noster officiis. Duo et commune mandamus.
        </p>
    </div>
</div>