<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRecuperaDados" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50628/RecuperaDados.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRecuperaDados"
                contract="SVCRecuperaDados.IRecuperaDados" name="BasicHttpBinding_IRecuperaDados" />
        </client>
    </system.serviceModel>
</configuration>