@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Avaliação de Serviços</h1>
    <p class="lead">Projeto de sistema de avaliação de professores para o curso de Engenharia de Software com .NET.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Alunos</h2>
        <p>Hiran Azevedo</p>
        <p>Marcus Moreno</p>
        <p>Victor Lopes</p>
    </div>
    <div class="col-md-4">
        <h2>Coordenador</h2>
        <p>Leonardo Camelo</p>
    </div>
    <div class="col-md-4">
        <h2>Disciplina</h2>
        <p>Projeto de Bloco - D</p>
    </div>
</div>